@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
img {
  display: block;
}
.card {
  width: 80%;
  background-color: antiquewhite;
  margin: auto;
 
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


@media all and (max-width:1200px){
.list{
    
}

}



